.dk #system {
    background: black;
}
.dk #spas {
    background: black;
}
.dk #logo .logo {
    background: black;
    transition: 0.5s;
    box-shadow: 0 0.1px 0.3px white;
}
.dk #logo .logo .icn i {
    color: white;
}
.dk #logo .logo .id  {
    background: #f1f4f9;
}
.dk #logo .logo .id .blt {
    background: black;
    color: white;
    margin-top: 0.5px;
    margin-left: 0.5px;
    box-shadow: 0 1px 3px white;
}
.dk .menu {
    background: #3A3A3B;
    transition: 1s;
}
.dk .menu a {
    color: white;
}
.dk #home {
    background: black;
    transition: 1s;
}
.dk #home .a img {
    border: 0.5px solid var(--c1);
    box-shadow: 0 2px 4px var(--c1);
    transition: 1s;
}
.dk #home {
    color: white;
}
.dk #home a .btn-op {
    color: white;
    box-shadow: 0 2px 4px var(--c1);
    background: #00C22D;
    transition: 1s;
}
.dk #proyek{
    background: #121212;
    color: white;
    box-shadow: 0 2px 4px var(--c1);
    transition: 1s;
}
.dk #skil, .dk #concact .a {
    background: #282828;
    color: white;
    box-shadow: 0 0.5px 0.5px var(--c1);
    transition: 1s;
}
.dk #concact a i {
    color: white;
    transition: 1s;
}
.dk #medsos , .dk #medsos .aa a,.dk #medsos .b a, .dk #medsos .c a {
    color: white;
}
.dk #end .a {
    background: #383838;
    color: white;
}
.dk #end .b1 {
    border: 0.5px solid white;
}
.dk footer {
    background: #1C1C1C;
    color: white;
    transition: 1s;
}