:root {
    --d1: black;
    --d2: white;
    --c1: #FAFAFA;
    --c2: #282828;
    --cd1: red;
}

/* === DIGA === */
@font-face {
    font-family: 'Diga';
    src: url('asset/font/Diga.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Diga';
    src: url('asset/font/Diga-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Diga';
    src: url('asset/font/Diga-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

/* === JONOVA === */
@font-face {
    font-family: 'Jonova';
    src: url('asset/font/Jonova.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Jonova';
    src: url('asset/font/Jonova-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Jonova';
    src: url('asset/font/Jonova-Italic.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
}

/* === LT HUMOR === */
@font-face {
    font-family: 'LTHumor';
    src: url('asset/font/LTHumor.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'LTHumor';
    src: url('asset/font/LTHumor-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'LTHumor';
    src: url('asset/font/LTHumor-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

/* === WINKY SANS (WOFF2) === */
@font-face {
    font-family: 'WinkySans';
    src: url('asset/font/WinkySans.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'WinkySans';
    src: url('asset/font/WinkySans-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'WinkySans';
    src: url('asset/font/WinkySans-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'diga', Sans-Serif;
    font-style: normal;
    font-weight: normal;
}

@media screen and (orientation:portrait) {
    body {
        position: relative;
        width: 100vw;
    }
    body #logo .logo {
        z-index: 999;
        position: fixed;
        width: 100%;
        height: 60px;
        background: var(--c1);
        align-content: center;
        align-items: center;
        display: flex;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12);
        transition: 1s;
    }
    #logo .logo h1 {
        position: relative;
        font-size: 1.5rem;
        margin-left: 10px;
        font-family: 'WinkySans';
        font-style: normal;
        font-weight: bold;
        color: var(--cd1);
    }
    #logo .logo .icn {
        position: relative;
        transform: translateX(120px);
    }
    #logo .logo .icn i {
        font-size: 1.7rem;
    }
    #logo .logo #dark {
        transform: translateX(130px);
        border: none;
        width: 27px;
        height: 27px;
        align-content: center;
        border-radius: 50%;
        text-align: center;
        background: var(--c1);
    }
    #logo .logo #dark i {
        font-size: 1.5rem;
        margin-left: 2px;
        color: var(--d1);
    }
    #logo .logo .id {
        position: relative;
        width: 50px;
        height: 25px;
        background: black;
        border-radius: 30px;
        margin-left: auto;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12)
        align-content: center;
    }
    #logo .logo .id .blt {
        justify-items: center;
        align-content: center;
        width: 24px;
        height: 24px;
        background: var(--c1);
        border-radius: 50%;
        border: 1px solid black;
    }
    #logo .logo .id .blt p {
        position: relative;
        text-transform: uppercase;
        font-size: 12px;
    }
    #spas {
        width: 100vw;
        height: 65px;
    }
    .menu {
        top: 55px;
        position: fixed;
        z-index: 999;
        display: flex;
        opacity: 0;
        transform: translateY(-200px);
        transition: 0.3s;
        width: 100vw;
        height: 35px;
        background: #f1f4f9;
        justify-content: center;
        align-items: center;
        gap: 15px;
        text-align: center;
        z-index: 998;
    }
    .mp .menu {
        opacity: 1;
        transform: translateY(0);
        transition: 0.3s;
    }
    .menu li {
        list-style: none;
        text-transform: uppercase;
    }
    .menu li a {
        box-shadow: none;
        font-size: 1rem;
        font-family: 'WinkySans', Sans-Serif;
        font-weight: bold;
        font-style: bold;
        color: black;
        text-decoration: none;
        outline: none;
    }
    #home {
        position: relative;
        display: grid;
    }
    #home .a {
        position: relative;
        justify-self: center;
    }
    #home .a img {
        border-radius: 50%;
        width: 150px;
        height: 150px;
        border: 0.5px solid black;
        box-shadow: 0 2px 4px var(--d1);
    }
    #home .b {
        text-align: center;
    }
    #home .b .a {
        display: flex;
        gap: 10px;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12);
    }
    #home .b .a .aa {
        font-family: 'LTHumor',Sans-Serif;
        font-style: italic;
        font-weight: bold;
        font-size: 30px;
        margin-top: 10px;
    }
    #home .b .bb .a {
        font-family: 'WinkySans',Sans-Serif;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        white-space: nowrap;
        animation: blinkCursor 0.8s steps(1) infinite;
        margin-top: 20px;
    }

@keyframes blinkCursor {
        0%, 100% {
            transition: 0.5s;
        }
        50% {
            transition: 0.5s;
        }
    }
    #home .c {
        position: relative;
        display: grid;
        justify-content: center;
        text-align: center;
        margin-top: 30px;
    }
    #home .c h1 {
        font-size: 30px;
        font-family: 'LTHumor',Sans-Serif;
        font-weight: italic;
        font-style: normal;
    }
    #home .c .a p {
        font-size: 16px;
        font-family: 'WinkySans',Sans-Serif;
        font-weight: italic;
        font-style: normal;
        padding: 10px;
    }
    #home a {
        text-decoration: none;
        list-style: none;
        outline: none;
    }
    #home a .btn-op {
        color: black;
        font-family: 'WinkySans',Sans-Serif;
        font-style: normal;
        font-weight: bold;
        width: 200px;
        height: 30px;
        text-align: center;
        transform: translateY(30px);
        align-items: center;
        justify-self: center;
        background: linear-gradient(to right,#80FF00,#5DFF00);
        border-radius: 50px 15px 50px;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16);
    }
    #skil {
        width: 95vw;
        height: 70vh;
        justify-self: center;
        border-radius: 30px;
        background: #f1f4f9;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16);
    }
    #skil .a {
        text-align: center;
        justify-self: center;
        font-family: 'LTHumor',Sans-Serif;
        font-weight: italic;
        font-style: bold;
        font-size: 30px;
        text-transform: uppercase;
        height: 30px;
        border-bottom: 3px solid black;
    }
    #skil .b {
        align-self: center;
    }
    #skil .b .skill-box {
        display: flex;
        align-items: center;
        margin: 20px;
        gap: 20px;
    }
    #skil .b .skill-box i {
        font-size: 20px;
        min-width: 20px;
    }
    #skil .b .progress-bar {
        flex: 1;
        height: 15px;
        background: #e5e5e5;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    }
    #skil .b .progress-fill {
        height: 100%;
        width: 0;
        background: linear-gradient(90deg, red, red, red, orange);
        color: #fff;
        text-align: right;
        padding-right: 10px;
        line-height: 20px;
        font-weight: bold;
        transition: width 0.5s ease;
    }
    #proyek {
        position: relative;
        width: 98vw;
        border-radius: 30px;
        justify-self: center;
        justify-items: center;
        margin-top: 50px;
        box-shadow: 0 2px 4px rgba(0,0,0,0.14)
    }
    #proyek .a {
        box-shadow: 0 1px 3px rgba(0,0,0,0.12);
        position: relative;
        width: 90vw;
        height: 150px;
        background-position: center;
        background-attachment: scroll;
        background-size: cover;
        background-image: url('res/image/p.png');
        border-radius: 30px;
    }
    #proyek .b {
        position: relative;
        text-align: center;
        justify-content: center;
        display: grid;
        padding: 20px;
    }
    #proyek .b .aa {
        font-size: 20px;
        font-family: 'WinkySans', Sans-Serif;
        font-style: normal;
        font-weight: italic;
        margin-top: 20px;
    }
    #proyek .b .b {
        margin-top: 20px;
        font-size: 16px;
        font-family: 'LTHumor', Sans-Serif;
        font-style: normal;
        font-weight: italic;
        margin-top: 20px;
    }
    #proyek .b .c ,#proyek .b .d,#proyek .b .e {
        font-size: 16px;
        font-family: 'LTHumor', Sans-Serif;
        font-style: normal;
        font-weight: italic;
    }
    #proyek .b .c .a {
        padding-bottom: 20px;
        font-size: 20px;
        font-family: 'WinkySans', Sans-Serif;
        font-style: normal;
        font-weight: italic;
        margin-top: 20px;
    }
    #kontak .kontak {
        display: grid;
        position: relative;
    }
    #kontak .kontak .a {
        width: 100px;
        height: 150px;
        position: relative;
    }
    #kontak .kontak .a .aa:nth-child(1) {
        border-bottom: 3px solid black;
        display: grid;
    }
    #concact .a {
        margin-top: 50px;
        position: relative;
        border: 0.21px solid black;
        display: grid;
        width: 98vw;
        height: 50vh;
        justify-self: center;
        background: #f1f4f9;
        border-radius: 20px;
        box-shadow: box-shadow: box-shadow: 0 12px 24px rgba(0,0,0,0.26);
        justify-content: center;
        text-align: center;
    }
    #concact .a a {
        color: black;
        list-style: none;
    }
    #concact .a .aa {
        font-size: 1.5rem;
        font-family: 'WinkySans',Sans-Serif;
        font-style: normal;
        font-weight: bold;
        margin-top: 50px;
    }
    #concact .a .b {
        font-size: 20px;
        font-family: 'LTHumor',Sans-Serif;
        font-style: normal;
        font-weight: bold;
        width: 80vw;
        border-radius: 50px;
        display: grid;
        height: 50px;
        background: #007bff;
        justify-content: center;
        text-align: center;
    }
    #concact .a .b a {
        width: 50vw;
        height: 30px;
    }
    #concact .a .c {
        background: #25d366;
        font-size: 20px;
        font-family: 'LTHumor',Sans-Serif;
        font-style: normal;
        font-weight: bold;
        width: 80vw;
        border-radius: 50px;
        display: grid;
        height: 50px;
        justify-content: center;
        text-align: center;
    }
    #concact .a .c a {
        width: 50vw;
        height: 30px;
    }
    #medsos {
        display: grid;
        position: relative;
        width: 100vw;
        height: 30vh;
    }
    #medsos .a {
        justify-self: center;
        margin-top: 30px;
        font-size: 1.5rem;
        font-family: 'WinkySans',Sans-Serif;
        font-style: normal;
        font-weight: bold;
        border-bottom: 3px solid black;
        height: 30px;
    }
    #medsos .b {
        gap: 30px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #medsos .b .aa {
        background: #ff0000;
        border-radius: 50px;
        box-shadow: 0 4px 10px rgba(156,39,176,0.4);
        display: grid;
        width: 80px;
        height: 50px;
        justify-content: center;
        text-align: center;
    }
    #medsos .b .aa a {
        color: black;
        text-decoration: none;
        font-family: 'LTHumor',Sans-Serif;
        font-weight: bold;
        font-size: 1rem;
        font-style: normal;
        display: none;
    }
    #medsos .b .aa i {
        font-size: 2rem;
        margin-top: 13px;

    }
    #medsos .b .aa:hover a {
        display: block;
    }
    #medsos .b .aa:hover i {
        margin-top: -13px;
    }
    #medsos .b .bb {
        background: vae(--c1);
        border-radius: 50px;
        box-shadow: 0 4px 10px rgba(156,39,176,0.4);
        display: grid;
        width: 80px;
        height: 50px;
        justify-content: center;
        text-align: center;
    }
    #medsos .b .bb a {
        color: black;
        text-decoration: none;
        font-family: 'LTHumor',Sans-Serif;
        font-weight: bold;
        font-size: 1rem;
        font-style: normal;
        display: none;
    }
    #medsos .b .bb i {
        font-size: 2rem;
        margin-top: 13px;

    }
    #medsos .b .bb:hover a {
        display: block;
    }
    #medsos .b .bb:hover i {
        margin-top: -13px;
    }
    #medsos .b .c {
        display: grid;
        background: #1877f2;
        border-radius: 50px;
        box-shadow: 0 4px 10px rgba(156,39,176,0.4);
        width: 80px;
        height: 50px;
        justify-content: center;
        text-align: center;
    }
    #medsos .b .c a {
        color: black;
        text-decoration: none;
        font-family: 'LTHumor',Sans-Serif;
        font-weight: bold;
        font-size: 1rem;
        font-style: normal;
        display: none;
    }
    #medsos .b .c i {
        font-size: 2rem;
        margin-top: 13px;

    }
    #medsos .b .c:hover a {
        display: block;
    }
    #medsos .b .c:hover i {
        margin-top: -13px;
    }
    #end {
        position: relative;
        width: 100%;
        height: 35vh;
        display: grid;
        margin-top: 30px;
        margin-bottom: 10px;
    }
    #end .a {
        display: grid;
        width: 100vw;
        height: 35vh;
        background: #f1f4f9;
        border-radius: 10px;
        text-align: center;
        justify-content: center;
        align-content: center;
        box-shadow: inset 1px 1px 1px rgba(0,0,0,0.2);
    }
    #end .a .a1 {
        font-family: 'LTHumor',Sans-Serif;
        font-weight: bold;
        font-style: italic;
        font-size: 25px;
    }
    #end .a .b1 {
        width: 80vw;
        height: 30px;
        border: 0.5px solid black;
        border-radius: 50px;
        justify-self: center;
        margin-top: 20px;
        justify-content: center;
        align-content: center;
        list-style: none;
    }
    #end .a .b1 a {
        text-decoration: none;
        outline: none;
        color: red;
        text-transform: uppercase;
        font-family: 'WinkySans',Sans-Serif;
        font-weight: bold;
        font-style: bold;
        font-size: 15px;
    }
    footer {
        margin-top: 10px;
        width: 100vw;
        text-align: center;
        display: grid;
        height: 150px;
        border-top: 1px solid black;
        background: #f1f4f9;
        box-shadow: inset 0 2px 4px rgba(0,0,0,0.1);
    }
    footer p:nth-child(1) {
        font-size: 18px;
        align-self: center;
        transform: translateY(-10px);
        font-family: 'LTHumor',Sans-Serif;
        font-weight: italic;
        font-style: normal;
    }
    footer p:nth-child(2) {
        font-family: 'WinkySans',Sans-Serif;
        font-weight: normal;
        font-style: normal;
        font-size: 20px;
    }
